:root {
  /* primary colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
}

.scores {
  display: flex;
  padding: 0.7rem 0.5rem;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: palegoldenrod;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/* styling individual components */

/* for reaction */
.reaction {
  background-color: hsla(0, 100%, 67%, 0.05);
}

.reaction .score__type {
  color: var(--light-red);
}

.reaction .score__type .type,
.reaction .bolded {
  font-weight: 700;
}

/* for memory */

.memory {
  background-color: hsla(39, 100%, 56%, 0.05);
}

.memory .score__type {
  color: var(--orangey-yellow);
}

.memory .score__type .type,
.memory .bolded {
  font-weight: 700;
}

/* for verbal */

.verbal {
  background-color: hsla(166, 100%, 37%, 0.05);
}
.verbal .score__type {
  color: var(--green-teal);
}

.verbal .score__type .type,
.verbal .bolded {
  font-weight: 700;
}

/* for visual */

.visual {
  background-color: hsla(234, 85%, 45%, 0.05);
}

.visual .score__type {
  color: var(--cobalt-blue);
}

.visual .score__type .type,
.visual .bolded {
  font-weight: 700;
}

/* styling the two divs */

.score__type {
  display: flex;
  gap: 0.5rem;
}

.score__type .icon {
  width: 16px;
  height: auto;
}

.actual__score {
  display: flex;
  gap: 0.5rem;
}

.actual__score .percent {
  font-weight: 700;
  color: hsla(224, 30%, 27%, 0.5);
}

/* mobile dimensions */
@media (max-width: 480px) {
  .scores {
    padding: 1.2rem 0.5rem;
    margin-top: 1.2rem;
  }
}
