/* GOOGLE FONTS IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS RESETS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM VARIABLES */

:root {
  /* neutral colors */
  --gray-50: hsl(0, 0%, 98%);
  --gray-500: hsl(0, 0%, 41%);
  --gray-950: hsl(0, 0%, 8%);

  /* font family */
  --font-fam: "Epilogue";
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-fam);
  font-size: 18px;
  background-color: var(--gray-50);
}

.landing-page {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}

/* NAVBAR STYLING */

.nav-section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1em 2em 0.5em;
  /* border: 3px solid blue; */
}

.nav-right {
  display: flex;
  gap: 2.5em;
  align-items: flex-start;
  /* border: 2px solid red; */
}

.links {
  display: flex;
  gap: 2.5em;
  padding: 0.4em;
  list-style: none;

  /* border: 2px solid brown; */
}

.links li {
  font-size: 0.7em;
  color: var(--gray-500);
  font-weight: 500;
  transition: all 0.3s ease;
}

.links li:hover {
  color: var(--gray-950);
  font-weight: 500;
}

/* styling dropdown menu section */

.arrow {
  margin-left: 0.3em;
}

.up {
  display: none;
}

/* styling navbar buttons */
.login-btn,
.register-btn {
  margin-right: 1em;
  background-color: transparent;
  padding: 0.8em 1.2em;
  border: 2px solid var(--gray-500);
  border-radius: 1em;
  color: var(--gray-500);
  font-weight: 500;
  font-family: inherit;
  transition: all 0.3s ease;
}

.login-btn {
  border: none;
}

.login-btn:hover,
.register-btn:hover {
  color: var(--gray-950);
  font-weight: 500;
}

/* HERO SECTION STYLING */
.hero-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5.2em;
  padding: 1.2em;
  width: 82%;
  margin-top: 1.5em;
  /* border: 2px solid red; */
}

.left-side {
  /* width: 50%; */
  /* border: 3px solid gold; */
  margin-top: 3.5em;
  /* padding: 1em 0; */
}

.cta-header {
  font-size: 4.2em;
}

.cta-text {
  margin-top: 2em;
  font-size: 1em;
  color: var(--gray-500);
  /* font-weight: 500; */
}

.cta-btn {
  margin-top: 2.5em;
  background-color: var(--gray-950);
  padding: 0.9em 1.4em;
  border-radius: 0.9em;
  border: 1px solid var(--gray-500);
  color: var(--gray-50);
  font-family: inherit;
  font-weight: 700;
  font-size: 0.9em;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background-color: transparent;
  color: var(--gray-950);
}

.companies {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2.5em;
  gap: 1em;
  align-items: flex-end;
}

.hero-img {
  width: 390px;
  height: auto;
}
