// IMPORTING GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// COLOR VARIABLES

$linear-gradient: hsl(237, 73%, 79%), hsl(238, 63%, 64%);
$blue: hsl(240, 78%, 98%);
$gray-650: hsl(233, 13%, 49%);
$gray-700: hsl(232, 13%, 33%);
$white: #fff;
$blue-secondary: hsl(238, 63%, 64%);

// FONT
$font-fam: "Montserrat";
