@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.card {
  @include flex-items($direction: column, $align: center);
  max-width: 35%;
  padding: 2.5rem;
  background-color: $white;
  border-radius: 0.4rem;
  margin: 0;

  &__name {
    font-size: 0.9rem;
    font-weight: 600;
  }

  &__price {
    margin: 1rem 0;
    font-size: 3.2rem;
    font-weight: 800;

    .currency {
      margin-right: 0.4rem;
      font-size: 2.9rem;
    }
  }

  &__feature {
    border-top: 1px solid hsla(233, 13%, 49%, 0.3);
    width: 100%;

    &__item {
      font-size: 0.7rem;
      font-weight: 700;
      margin: 0.6rem 0;
      text-align: center;
    }

    &:last-of-type {
      border-bottom: 1px solid hsla(233, 13%, 49%, 0.3);
    }
  }

  &__blue {
    border-top: 1px solid $white;

    &:last-of-type {
      border-bottom: 1px solid $white;
    }
  }
}

.card:nth-child(2) {
  background: linear-gradient($linear-gradient);
  margin: -10px -12px;
  z-index: 1;
  color: hsl(240, 78%, 98%);
  box-shadow: 0 5px 5px 0 hsla(238, 63%, 64%, 0.3);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 5px 5px 5px hsla(233, 13%, 49%, 0.12);
  }

  button:hover {
    border: 1px solid hsl(240, 78%, 98%);
    color: hsl(240, 78%, 98%);
  }
}

@media (max-width: 580px) {
  .card {
    max-width: 100%;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 5px 5px 5px hsla(233, 13%, 49%, 0.12);
    }
  }

  .card:nth-child(2) {
    margin: 0;
    z-index: unset;
    overflow: hidden;
  }
}
