/* GOOGLE FONTS IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS RESETS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM VARIABLES */
:root {
  /* gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* neutrals */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* fonts */
  --font-family: "Hanken Grotesk", Poppins;
  --font-size: 18px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--pale-blue);
}

/* CARD STYLING */

.card {
  max-width: 580px;
  height: fit-content;
  background-color: var(--white);
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
}

/* styling the right side of the card */

.card__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  color: var(--white);
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  border-radius: 1.5rem;
}

.title__right {
  font-size: 1rem;
  color: var(--light-lavender);
  margin-top: 0.8rem;
}

.score {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-top: 1.6rem;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: pulse 5s infinite;
}

.big__score {
  font-size: 2.5em;
  font-weight: 800;
}

.small__score {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--light-lavender);
}

.title__text {
  margin-top: 1.4rem;
  font-size: 1.3rem;
}

.summary {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 1rem 1rem 1.5rem 1rem;
  color: var(--light-lavender);
  text-align: center;
  line-height: 1.1rem;
}

/* styling the left side of the card */

.card__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.title__left {
  font-size: 1rem;
  margin: 2rem 0 0.8rem;
  color: var(--dark-gray-blue);
  font-weight: 800;
}

.card__button {
  margin: 1.8rem 0 2rem;
  padding: 0.8rem 1rem;
  background-color: var(--dark-gray-blue);
  border-radius: 1.5rem;
  color: var(--white);
  font-weight: 700;
  transition: all 0.3s ease;
}

.card__button:hover {
  border: none;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

/* footer section */
.attribution {
  font-size: 11px;
  margin-top: 2rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* mobile dimensions */
@media (max-width: 480px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
    background: var(--white);
  }
  .card {
    flex-direction: column;
  }

  .card__right,
  .card__left {
    width: 100%;
  }

  .card__right {
    border-radius: 0 0 1.5rem 1.5rem;
  }

  .card__left {
    padding: 0 2.2rem;
  }

  .title__right {
    padding-top: 1rem;
  }

  .title__right,
  .title__left {
    font-size: 1.2rem;
  }

  .summary {
    padding: 0 2.2rem;
  }
}

/* tablet */
@media (max-width: 580px) {
  .card {
    max-width: 520px;
  }
}

/* animations */
@keyframes pulse {
  0%,
  100% {
    transform: scale(0.9);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
}
